    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow border-top border-5 border-secondary sticky-top p-0">
        <a href="index.html" class="navbar-brand bg-secondary d-flex align-items-center px-4 px-lg-5">
            <h2 class="mb-2 text-white">DROPU <br><span class="small-text" style="font-size: 0.8em;">Couriers And Logistics</span></h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="{{ '/'}}" class="nav-item nav-link {% if request.path == '/'%} active{% endif %}">Home</a>
                <a href="{{ '/about/'}}" class="nav-item nav-link {% if 'about' in request.path%} active{% endif %}">About</a>
                <a href="{{ '/services/'}}" class="nav-item nav-link{% if 'services' in request.path%} active{% endif %}">Services</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu fade-up m-0">
                        <a href="{{ '/features/'}}" class="dropdown-item nav-link{% if 'features' in request.path%} active{% endif %}">Features</a>
                        <a href="{{'/teams/'}}" class="dropdown-item nav-link {% if 'teams' in request.path%} active{% endif %}">Our Teams</a>
                    </div>
                </div>
                
                <a href="{{ '/contact/'}}" class="nav-item nav-link {% if 'contact' in request.path%} active{% endif %}">Contact</a>
            </div>
            <h4 class="m-0 pe-lg-5 d-none d-lg-block"><i class="fa fa-headphones text-primary me-3"></i>+012 345 6789</h4>
        </div>
    </nav>
    <!-- Navbar End -->
